body {
	font-family: 'Tahoma', sans-serif;
}

header {
	padding: 77px 0 98px 0;
}

a {
	text-decoration: none;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.header-img {
	display: inline-block;
	vertical-align: middle;
	width: 45%;
}

.header-text {
	display: inline-block;
	vertical-align: middle;
	width: 54%;
}

.header-text-title {
	margin-bottom: 15px;
	font-size: 48px;
	font-weight: 700;
}

.header-text-subtitle {
	margin-bottom: 35px;
	font-size: 30px;
	font-weight: 400;
}

.header-text-description {
	/*max-width: 530px;*/
	margin-bottom: 47px;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}

.header-text-price {
	margin-bottom: 53px;
	color: #3b322f;
	font-size: 48px;
	font-weight: 400;
}

.button {
	padding: 22px 42px;
	margin-right: 40px;

	border: 2px solid #f15921;
	border-radius: 5px;
	
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	background: #f15921;
}

a.button:hover {
	color: #f15921;
	background: #fff;
}

.features {
	background-color: #f2f2f2;
}

.features-title {
	color: #333;
	font-size: 30px;
	font-weight: 700;
	line-height: 27px;
	text-align: center;
	padding: 87px 0;
}

.features-list {
	display: grid;
	grid-template-columns: repeat(4, 25%);
}

.features-item {
	display: inline-block;
	text-align: center;
	color: #757575;
}

.features-item-img {
	min-height: 55px;
}

.features-item-text {
	padding: 15px 0 100px 0;
	font-size: 18px;
}

.customers-title {
	color: #333;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 27px;
	padding: 90px 0 75px 0;
}

.customers-list {
	display: grid;
	grid-template-rows: 261px 261px;
	grid-template-columns: repeat(4, 261px);
	grid-column-gap: 30px;
	grid-row-gap: 42px;
	justify-content: center;
	padding-bottom: 110px;
}

@media screen and (max-width: 1100px) {
	.header-img {
		width: 100%;
		margin-left: 30%;
		margin-right: 25%;
	}

	.header-text {
		margin-left: 25%;
		margin-right: 25%;
		margin-top: 50px;
		text-align: center;
	}

	.header-text-title, 
	.header-text-subtitle,
	.header-text-price {
		margin-right: 10%;
	}

	.features-list {
		grid-template-columns: 100%;
	}

	.customers-list {
		grid-template-columns: repeat(2, 261px);
	}
}